@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
html{
  
  font-size: 62.5%;
 
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
  letter-spacing: .1rem;
}
h1,h2,h3{
  font-weight: 300;
}

main, #main1, #main2 {
  height: 100vh;
  width: 100%;
}

#main1 {
  background:url('../image/home-hero.jpg') center/cover;
}

main, #main2 {
  overflow: scroll;
  scroll-behavior: smooth;
}

header {
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}

.topnav {
  overflow: hidden;
  width: 100%;
}

.topnav ul li {
  list-style: none;
  float: right;
  height: 100%;
}

.topnav a {
  color: #000000;
  text-align: center;
  padding: 1.5rem;
  text-decoration: none;
  font-size: inherit;
  display: block;
}

.topnav a:hover {
  background-color: #dc143c;
  color: white;
}

.topnav .logo {
  width: 100%;
  display: block;
}
.span_img {
    display: inline-block;
    width: 2.2rem;
    vertical-align: -.3rem;
}
/* Pour créer un lien aligné à droite de la barre de navigation */
.topnav .split {
  float: left;
}

.topnav .active {
  background-color: #dc143c;
  color: white;
}

.content {
  float: left;
  width: 30%;
  top: 50%;
  transform: translateY(-50%) translateX(30%);
  position: relative;
  left: auto;
  right: 3%;
}

.content p {
  color: #f5eded;
  letter-spacing: 0.075rem;
  font-size: 3rem;
}

/* Pour le formulaire */
fieldset {
  padding: 2.5rem;
}

.registration-form, .login_form {
  max-width:90rem ;
  margin: 0 auto;
}
/* champs de saisie a 100% de largeur */
input[type=text], input[type=password] , input[type=email]{
  width: 100%;
  padding: 0.9375rem;
  margin: 0.3125rem 0 1.375rem 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  
}

input[type=text]:focus, input[type=password] , input[type=email]:focus {
  background-color: #ffeabdee;
  outline: none;
}

/* Mettons un style pour le bouton de soumission */
.registerbtn {
  background-color: #2542e5;
  color: white;
  padding: 1rem 1.25rem;
  margin: 0 auto;
  border: none;
  cursor: pointer;
  opacity: 0.9;
  display:block;
   
  
}
/* Uniformisons les boutons de la page */
button {
  background-color: #dc143c;
  color: #f5eded;
  padding: 1rem 1.25rem;
  margin: 0.5rem 0;
  border: none;
  cursor: pointer;
  opacity: 0.9;
  font-size: 1.5rem;
  border-radius: .4rem;
  line-height: 2.5rem;
}  

/* Modifions le style par defaut de hr */
hr {
  border: 0.0625rem solid #f1f1f1;
  margin-bottom: 1.5625rem;
}

.content_2 {
  text-align: center;
  width: 40%;
  margin : 0 auto;
  display: block;
}
.content_2, .form-action,.registration-form ,.login_form {
  position: relative;
  top: 10%;
}

.content_2 .paragraph {
  margin: 0 auto;
  letter-spacing: 0.075rem;
  line-height: 3.125rem; /*espacement vertical du texte*/
  font-size: 1.875rem; /*augementons la taille pour adapter au mieux au format d ela maquette */
}

/* Le bouton retour au top de la page */
#myBtn {
  position: fixed;
  bottom: 1.25rem;
  right: 1.875rem;
  z-index: 99;
  font-size: 1.125rem;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 0.9375rem;
  border-radius: 2.10rem;
}
#myBtn:hover {
  background-color: #555;
}

/*ajout du footer*/
#footer {
  bottom: 0;
  height: 0.625rem;
  border-radius: 0.25rem;
  text-align: center;
}

/*Partie du controle des smessages d'ereurs qui peuvent apparaitre sur le formulaire lors de la soumission */

/*
.form-action{
    max-width: 80rem;
    margin: 5rem auto;
}
*/
.form-action .warning{
    padding: 1rem;
    line-height: 2.5rem;
    text-align: center;
    border-radius: .4rem;
}
.form-action .msg-success{
    background: #079992;
    color: #fff;
}
.form-action .msg-alert{
    background: #b71540;
    color: #fff;
}