:root {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  scroll-behavior: smooth;
}

main, #main1, #main2 {
  height: 100vh;
  width: 100%;
  padding: 2.5rem;
  margin-top: 3rem;
}

#main1 {
  background:url('../image/home-hero.jpg') center/cover;
}

main, #main2 {
  padding-left: 15.625rem;
  padding-right: 15.625rem;
}

header {
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  top: 0;
}

.topnav {
  overflow: hidden;
  width: 100%;
}

.topnav ul li {
  list-style: none;
  float: right;
  margin: 1.6rem;
  height: 100%;
}

.topnav a {
  color: #000000;
  text-align: center;
  padding: 1.5rem;
  text-decoration: none;
  font-size: 1.2rem;
  line-height: 1.2rem;
}

.topnav a:hover {
  background-color: #dc143c;
  color: white;
}

.topnav .logo {
  width: 25%;
}

/* Pour créer un lien aligné à droite de la barre de navigation */
.topnav .split {
  float: left;
}

.topnav .active {
  background-color: #dc143c;
  color: white;
}

.content {
  margin-top: 2.5rem;
  margin-left: 1.25rem;
  float: left;
  width: 45%;
}

.content p {
  color: #f5eded;
  letter-spacing: 0.075rem;
  line-height: 4.375rem;
  font-size: 3.125rem;
}

/* Pour le formulaire */
* {
  box-sizing: border-box;
}

/* champs de saisie a 100% de largeur */
input[type=text], input[type=password] , input[type=email]{
  width: 100%;
  padding: 0.9375rem;
  margin: 0.3125rem 0 1.375rem 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  
}

input[type=text]:focus, input[type=password] , input[type=email]:focus {
  background-color: #ddd;
  outline: none;
}

/* Mettons un style pour le bouton de soumission */
.registerbtn {
  background-color: #2542e5;
  color: white;
  padding: 1rem 1.25rem;
  margin: 0.5rem 0;
  border: none;
  cursor: pointer;
  opacity: 0.9;
  margin-left: 40%;
  margin-right: 20%;
}
/* Uniformisons les boutons de la page */
button {
  background-color: #dc143c;
  color: #f5eded;
  padding: 1rem 1.25rem;
  margin: 0.5rem 0;
  border: none;
  cursor: pointer;
  opacity: 0.9;
  font-size: 1.25rem;
}  

/* Modifions le style par defaut de hr */
hr {
  border: 0.0625rem solid #f1f1f1;
  margin-bottom: 1.5625rem;
}

.content_2 {
  text-align: center;
  width: 40%;
  margin-left: 25%;
  margin-top: 6.5rem;

}

.content_2 .paragraph {
  margin: 2.5rem;
  letter-spacing: 0.075rem;
  line-height: 3.125rem; /*espacement vertical du texte*/
  font-size: 1.875rem; /*augementons la taille pour adapter au mieux au format d ela maquette */
}

/* Le bouton retour au top de la page */
#myBtn {
  position: fixed;
  bottom: 1.25rem;
  right: 1.875rem;
  z-index: 99;
  font-size: 1.125rem;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 0.9375rem;
  border-radius: 0.25rem;
}
#myBtn:hover {
  background-color: #555;
}

/*ajout du footer*/
#footer {
  bottom: 0;
  height: 0.625rem;
  border-radius: 0.25rem;
}